# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pyo

# Virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Logs and reports
*.log
*.tmp
*.pdf

# System files
.DS_Store
Thumbs.db

# Environment & settings
*.env
config/settings.yaml

# IDE specific
.vscode/
.idea/

# Python egg files
*.egg-info/
dist/
build/

# Cache files
*.cache
